# Arquivos de compilação
/target/
/bin/
/out/
*.class

# Arquivos de configuração local do IDE
*.iml
.classpath
.project

# Arquivos de dependência
/lib/
*.jar

# Arquivos temporários e logs
*.log
*.tmp

# Arquivos de configuração sensíveis
application.properties